{% extends 'core/base2.html' %}
{% block title %}
    {{ 'Login' }}
{% endblock %}
{% block title2 %}
    {{ 'Autenticado de usuarios' }}
{% endblock %}
{% block content %}
	{% if form.errors %}
        <div class="row justify-content-center">
		    <p>Usuario o clave no existen o están incorrectas, vuelva a intentar uwu</p>
        </div>
	{% endif %}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-12 col-sm-3">Usuario</div>
            <div class="col-12 col-sm-3">
                <input type="text" name="username" class="form-control">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-3">Contraseña</div>
            <div class="col-12 col-sm-3">
                <input type="password" name="password" class="form-control">
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-3">
                <input type="submit" class="btn btn-danger" value="Iniciar Sesión">
                <input type="hidden" name="next" value="{{ next }}">
            </div>
        </div>
        <br>
    </form>
{% endblock %}