{% extends 'core/base2.html' %}
<!--TITULO-->
{% block title%}Eventos{% endblock %}

<!--Fondo de Pantalla-->
{% block background %}{% load static %}{% static 'core/img/eventos1.jpg' %}{% endblock %}

<!--Titulo de imagen y Subtitulos-->
{% block headers %}
<h1>Nuestros Eventos</h1>
<span class="subheading">De otro Planeta</span>
{% endblock %}

{% block content %}
	{% for event in events %}
	      <!-- Proyecto -->
	      <div class="row project">  	
	      	<div class="col-lg-3 col-md-4 offset-lg-1">
			      <img class="img-fluid" src="{{event.image.url}}" alt="">
	      	</div>
	        <div class="col-lg-7 col-md-8">
	      		<h2 class="section-heading title">{{event.title}}</h2>   
	          <p>{{event.description}}</p>
              {% if event.link %}
	            <p><a href="{{event.link}}">Más información</a></p>
              {% endif %}
              </div>
	      </div>
		  {% endfor %}
{% endblock %}
