{% extends 'core/base.html' %}
<!--TITULO-->
{% block title%}Sobre Nosotros{% endblock %}

<!--Fondo de Pantalla-->
{% block background %}{% load static %}{% static 'core/img/Nosotros1.jpg' %}{% endblock %}

<!--Titulo de imagen y Subtitulos-->
{% block headers %}
<h1>Sobre Nosotros</h1>
<span class="subheading">2 Años formando las mejores fiestas</span>
{% endblock %}

<!--Contenido-->
{% block content%}
<script src="{% static 'core/js/notificacion.js' %}"></script>
<div class="container">
      <div class="row">   
        <div class="col-lg-3 col-md-4 offset-lg-1">
          <img class="img-fluid avatar" src="{% static 'core/img/avatar3.jpg' %}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
          <h2 class="section-heading">Brothers Producciones</h2>   
          <p>lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit...</p>
        </div>
      </div>  
    </div>

    <hr>
{% endblock %}
