{% extends 'core/base.html' %}
<!--TITULO-->
{% block title%}AJAX TEST{% endblock %}

<!--Fondo de Pantalla-->
{% block background %}{% load static %}{% static 'core/img/home-bg.jpg' %}{% endblock %}

<!--Titulo de imagen y Subtitulos-->
{% block headers %}
<h1>Contactanos</h1>
<span class="subheading">Para un mejor servicio</span>
{% endblock %}

{% block titulo%}
    <h1>Contacta con un Staff</h1>
{% endblock%}

<br>

{% block content%}
{{ mensaje }}
<form method="post">
    {% csrf_token %}
    <script>
        $(function(){
            $('.btnEnviar').click(function()
            {
                $.post("/ajaxTestResponse",
                        $('form').serialize(),   
                        function(data)
                        {
                            $('.divRespuesta').append('<p>' + data['mensaje'] + '</p>')

                        } 
                )
                .fail(function()
                {
                    alert('Error en la comunicación');

                })
                return false;
            });
        });
    </script>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-2">
            Opciones
        </div>
        <div class="col-12 col-sm-6">
            <input type="submit" name="btnEnviar" class="btn btn-primary btnEnviar" value="Enviar">
        
        </div>
    </div>
</form>
    <div class="divRespuesta"></div> 
{% endblock %}
